.timer {
  flex-grow: 6;
  display: flex;
  justify-content: center;
  background-color: #EADEDA;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  flex-grow: 5;
}

.value {
}

.text {
}